body{
  font-family: sans-serif;
      background-color: white;
      background-position:center;
      background-size: cover;
      width: 990px;
      height: 1000px;
    }
h1{
  text-align: center;
  font-weight:300;
}
.boxatas{
  width: 1365px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: skyblue;
}
.icon{
  width: 100px;
  position: relative;
  top: 0px;
  left: -160px;
}
.RI{
  width: 170px;
  position: relative;
  top:10px;
  left: 130px;
}
.home{
  position: relative;
  top: 10px;
  left: -80px;
  width: 1438px;
  height: 700px;
}
.tulisa{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -770px;
  left: -130px;
  font-weight: bold;
}
.tulisb{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -830px;
  left: 10px;
  font-weight: bold;
}
.tulisc{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -890px;
  left: 150px;
  font-weight: bold;
}
.tulisd{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -950px;
  left: 300px;
  font-weight: bold;
}
.tulise{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -1010px;
  left: 450px;
  font-weight: bold;
}
.tulis1{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: black;
  position: relative;
  top: -900px;
  left: 400px;
  font-weight: bold;
}
.tulis2{
  text-align: center;
  font-family: Futura;
  font-size: 25px;
  text-transform: uppercase;
  color: black;
  position: relative;
  top: -900px;
  left: 400px;
  font-weight: bold;
}
.tulis3{
  text-align: center;
  font-family: Futura;
  font-size: 23px;
  text-transform: uppercase;
  color: black;
  border: 11px;
  border-color: white;
  position: relative;
  top: -900px;
  left: 400px;
}
.tulis4{
  text-align: center;
  font-family: Times New Roman;
  font-size: 29px;
  text-transform: uppercase;
  color: black;
  border: 11px;
  border-color: white;
  position: relative;
  top:-400px;
  left:150px;
}
.tulisan_login{
  text-align: left;
  text-transform: uppercase;
  font-family: Circular;
  margin: 0px;
  color: black;
  position: relative;
  top: -60px;
  left: 0px;
  font-size: 35px;
  font-weight: bold;
}

.tombol1{
  background: blue;
  font-family: Times New Roman;
  color: white;
  font-size: 11pt;
  font-weight: bold;
  border: none;
  width: 100px;
  height: 40px;
  text-align: center;
  position: relative;
  top: -1300px;
  left: 1050px;
  border-radius: 10px;
}
.tombol2{
  background: green;
  font-family: Times New Roman;
  color: white;
  font-size: 11pt;
  font-weight: bold;
  border: none;
  width: 100px;
  height: 40px;
  text-align: center;
  position: relative;
  top: -1300px;
  left: 1070px;
  border-radius: 10px;
}
.boxtengah{
  width: 900px;
  height: 400px;
  position: relative;
  top: -450px;
  left: 200px;
  background-color: blue;
  border-radius: 10px;
}
.bulat{
  width: 20px;
  height: 20px;
  position: relative;
  top: -1280px;
  left:620px;
  margin:top;
}
.bulat1{
  width: 20px;
  height: 20px;
  position: relative;
  top: -1280px;
  left:630px;
  margin:top;
}
.bulat2{
  width: 20px;
  height: 20px;
  position: relative;
  top: -1280px;
  left:640px;
  margin:top;
}
.boxkecil1{
  width: 200px;
  height: 200px;
  position: relative;
  top: -750px;
  left:240px;
  background-color: green;
  border-radius: 10px;
}
.boxkecil3{
  width: 200px;
  height: 200px;
  position: relative;
  top: -1255px;
  left: 850px;
  background-color: brown;
  border-radius: 10px;
}
.boxkecil2{
  width: 300px;
  height: 300px;
  position: relative;
  top: -1000px;
  left: 500px;
  background-color: purple;
  border-radius: 10px;
}
.foto1{
  width: 170px;
  height: 120px;
  position: relative;
  top: -1440px;
  left: 180px;
  margin:top;
}
.kata{
  text-align: center;
  font-family: Times New Roman;
  font-size: 20px;
  color: white;
  position: relative;
  top: -1480px;
  left: -160px;
  font-weight: bold;
}
.kata1{
  text-align: center;
  font-family: Times New Roman;
  font-size: 20px;
  color: white;
  position: relative;
  top: -1520px;
  left: -160px;
  font-weight: bold;
}
.foto2{
  width: 250px;
  height: 180px;
  position: relative;
  top: -1790px;
  left: 525px;
  margin:top;
}
.kata2{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  color: white;
  position: relative;
  top: -1840px;
  left: 150px;
  font-weight: bold;
}
.kata3{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  color: white;
  position: relative;
  top: -1890px;
  left: 150px;
  font-weight: bold;
}
.foto3{
  width: 170px;
  height: 120px;
  position: relative;
  top: -2170px;
  left: 865px;
  margin:top;
}
.kata4{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  color: white;
  position: relative;
  top: -2230px;
  left: 450px;
  font-weight: bold;
}
.kata5{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  color: white;
  position: relative;
  top: -2280px;
  left: 450px;
  font-weight: bold;
}
.transparan1{
  width: 100px;
  height: 100px;
  position: relative;
  top: -2490px;
  left: 220px;
  background-color: white;
  border-radius: 5px;
  opacity: 0.5;
}
.icon1{
  width: 70px;
  height: 50px;
  position: relative;
  top: -2560px;
  left: 230px;
  margin:top;
}

.transparan2{
  width: 100px;
  height: 100px;
  position: relative;
  top: -2640px;
  left: 970px;
  background-color: white;
  border-radius: 5px;
  opacity: 0.5;
}
.icon2{
  width: 70px;
  height: 50px;
  position: relative;
  top: -2710px;
  left: 990px;
  margin:top;
  transform: rotate(180deg);
}
.kotak{
  width: 900px;
  height: 230px;
  position: relative;
  top: -2500px;
  left: 200px;
  background-color: skyblue;
}
.katabawah{
  text-align: center;
  font-family: Times New Roman;
  font-size: 40px;
  color: black;
  position: relative;
  top: -2480px;
  left: 180px;
  font-weight: bold;
}
.tgl{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  color: red;
  position: relative;
  top: -2770px;
  left: -170px;
  font-weight: bold;
}
.gambar{
  width: 250px;
  height: 150px;
  position: relative;
  top: -2820px;
  left: 230px;
  margin:top;
}
.brt1{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: black;
  position: relative;
  top: -2990px;
  left: 270px;
  font-weight: bold;
}
.brt2{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: black;
  position: relative;
  top: -3010px;
  left: 200px;
  font-weight: bold;
}
.link1{
  text-align: center;
  font-family: Calibri;
  font-size: 30px;
  color: blue;
  position: relative;
  top: -3030px;
  left: 123px;
  font-weight: bold;
}
.kotak1{
  width: 900px;
  height: 230px;
  position: relative;
  top: -3000px;
  left: 200px;
  background-color: skyblue;
}
.tgl1{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  color: red;
  position: relative;
  top: -3270px;
  left: -170px;
  font-weight: bold;
}
.gambar1{
  width: 250px;
  height: 150px;
  position: relative;
  top: -3320px;
  left: 230px;
  margin:top;
}
.brt3{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: black;
  position: relative;
  top: -3500px;
  left: 240px;
  font-weight: bold;
}
.brt4{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: black;
  position: relative;
  top: -3520px;
  left: 170px;
  font-weight: bold;
}
.link2{
  text-align: center;
  font-family: Calibri;
  font-size: 30px;
  color: blue;
  position: relative;
  top: -3540px;
  left: 123px;
  font-weight: bold;
}
.kotak2{
  width: 900px;
  height: 230px;
  position: relative;
  top: -3490px;
  left: 200px;
  background-color: skyblue;
}
.tgl2{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  color: red;
  position: relative;
  top: -3750px;
  left: -170px;
  font-weight: bold;
}
.gambar2{
  width: 250px;
  height: 150px;
  position: relative;
  top: -3800px;
  left: 230px;
  margin:top;
}
.brt5{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: black;
  position: relative;
  top: -3980px;
  left: 280px;
  font-weight: bold;
}
.brt6{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: black;
  position: relative;
  top: -4000px;
  left: 280px;
  font-weight: bold;
}
.link3{
  text-align: center;
  font-family: Calibri;
  font-size: 30px;
  color: blue;
  position: relative;
  top: -4010px;
  left: 123px;
  font-weight: bold;
}
.kotak3{
  width: 1365px;
  height: 500px;
  position: relative;
  top: -3990px;
  left: -10px;
  background-color: skyblue;
}
.kotak4{
  width: 1365px;
  height: 100px;
  position: relative;
  top: -4300px;
  left: -10px;
  background-color: blue;
}
.save{
  text-align: center;
  font-family: Calibri;
  font-size: 30px;
  color: white;
  position: relative;
  top: -4410px;
  left: 170px;
  font-weight: bold;
}
.last{
  width: 300px;
  position: relative;
  top: -4450px;
  left: 50px;
}
.alamat1{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: white;
  position: relative;
  top: -4940px;
  left: 170px;
  font-weight: bold;
}
.alamat2{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: white;
  position: relative;
  top: -4960px;
  left: 150px;
  font-weight: bold;
}
.alamat3{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: white;
  position: relative;
  top: -4980px;
  left: 140px;
  font-weight: bold;
}
.alamat4{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: white;
  position: relative;
  top: -5000px;
  left: 160px;
  font-weight: bold;
}
.nomor{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: white;
  position: relative;
  top: -5000px;
  left: 105px;
  font-weight: bold;
}
.email{
  text-align: center;
  font-family: Times New Roman;
  font-size: 30px;
  color: white;
  position: relative;
  top: -5000px;
  left: 150px;
  font-weight: bold;
}
.gmbrpesan{
  width: 50px;
  height: 50px;
  position: relative;
  top: -5080px;
  left: 430px;
  margin:top;
}
.phone{
  width: 50px;
  height: 50px;
  position: relative;
  top: -5150px;
  left: 380px;
  margin:top;
}
.lokasi{
  width: 50px;
  height: 50px;
  position: relative;
  top: -5390px;
  left: 320px;
  margin:top;
}
.fb{
  width: 50px;
  height: 50px;
  position: relative;
  top: -5030px;
  right: -1000px;
  margin:top;
}
.ig{
  width: 50px;
  height: 50px;
  position: relative;
  top: -5030px;
  right: -1010px;
  margin:top;
}

