body{
  font-family: sans-serif;
      background-color: white;
      background-position:center;
      background-size: cover;
      width: 990px;
      height: 1000px;
    }
h1{
  text-align: center;
  font-weight:300;
}
.boxatas{
  width: 1365px;
  height: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: skyblue;
}
.icon{
  width: 100px;
  position: relative;
  top: 0px;
  left: -160px;
}
.RI{
  width: 170px;
  position: relative;
  top:10px;
  right: -1150px;
}
.tulisa{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -70px;
  left: 100px;
  font-weight: bold;
}
.tulisb{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -130px;
  right:-220px;
  font-weight: bold;
}
.tulisc{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -190px;
  right:-330px;
  font-weight: bold;
}
.tulisd{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -253px;
  right: -450px;
  font-weight: bold;
}
.tulise{
  text-align: center;
  font-family: Times New Roman;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -315px;
  right: -580px;
  font-weight: bold;
}
.jbr{
  text-align: center;
  font-family: Times New Roman;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  position: relative;
  top: -420px;
  right: 150px;
  font-weight: bold;
}
.jbr2{
  text-align: center;
  font-family: Times New Roman;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  position: relative;
  top: -440px;
  right: 210px;
  font-weight: bold;
}
.cari{
  width: 600px;
  height: 40px;
  position: relative;
  top: -400px;
  left: 300px;
  background-color: white;
  border-radius: 2px;
}
.button{
  width: 60px;
  height: 40px;
  position: relative;
  left:300px;
  top: -400px;
  background-color: green;
  border-radius: 5px;
}
.iconcari{
  width: 30px;
  position: relative;
  top: -390px;
  left: 190px;
}
.box1{
  width: 200px;
  height: 250px;
  position: relative;
  top: -305px;
  left: 110px;
  border-radius: 10px;
  background-color:#2ED1A2; 
}
.jarum{
  width: 70px;
  position: relative;
  top: -510px;
  left:170px;
  z-index: -1px;
}
.d1{
  font-family: Times New Roman;
  font-size: 20px;
  color: white;
  position: relative;
  font-weight: bold;
  top: -510px;
  left: -280px;
}
.tambah1{
  width: 130px;
  height: 40px;
  position: relative;
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 15px;
  color: white;
  left: 150px;
  top: -510px;
  background-color: blue;
  border-radius: 5px;
}
.dasar{
  width: 1375px;
  height: 900px;
  position: absolute;
  top: 150px;
  left:-10px;
}
.box2{
  width: 200px;
  height: 250px;
  position: relative;
  top: -750px;
  left: 380px;
  border-radius: 10px;
  background-color:#2ED1A2; 
}
.obat{
  width: 70px;
  position: relative;
  top: -950px;
  left: 440px;
}
.a1{
  font-family: Times New Roman;
  font-size: 20px;
  color: white;
  position: relative;
  font-weight: bold;
  top: -950px;
  left: -20px;
}
.tambah2{
  width: 130px;
  height: 40px;
  position: relative;
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 15px;
  color: white;
  left: 410px;
  top: -950px;
  background-color: blue;
  border-radius: 5px;
}